@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rfm-marquee,
.rfm-initial-child-container {
    gap: 10rem !important;
    min-width: var(--min-width) !important;
}

@media screen and (max-width: 768px) {
    .rfm-initial-child-container {
        gap: 4rem !important;
    }
}
